.videos{
    margin-top: 11rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
    color: var(--cor-tema);  
    padding-right: 4rem;
    
}

.container-videos{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 3rem;
}

.videos-item {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 303px;
    width: 240px;

}

iframe{
    border-radius: 10px;
    height: 62%;
}

.titulo-img-video{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 0.4rem 0rem;
    text-align: start;
    gap: 0.6rem;
    font-weight: 500;
}

.descricao-video{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.8rem;
    margin: 0.8rem 0rem 0rem 0.5rem ;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .container-videos{
        width: 80%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .container-videos{
        width: 75%;
    }
    .videos{
        padding-right: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .container-videos{
        width: 70%;
    }
    .videos{
        padding-right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .container-videos{
        width: 85%;
    }
    .videos{
        padding-right: 1rem;
    }
}